.linkman {
  height: 100%;
  .linkman-item {
    height: 50px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    .linkman-item-avatar {
      width: 75%;
      height: 75%;
      margin: 0 auto;
    }
    .linkman-item-nickname {
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #f7f7f7;
    }
  }
  .linkman-nav {
    display: grid;
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
    width: 16px;
  }
}
