.container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  color: #0095ff !important;
}

.green {
  color: #1aad19 !important;
}

.bgc-gray {
  background-color: #f7f7f7;
}

.heart {
  height: 80%;
  width: 80%;
}

input {
  caret-color: #0095ff;
}
