@import 'src/varable.less';
.container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  color: @blue !important;
}

.green {
  color: @green!important;
}

.deep-blue {
  color: #5b6c90;
}
.bgc-gray {
  background-color: @bg-gray;
}
.bgc-deep-white {
  background-color: @bg-deep-white;
}
.heart {
  height: 80%;
  width: 80%;
}

input {
  caret-color: @blue;
}
.gray {
  color: @gray;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.am-whitespace {
  background-color: @bg-gray;
}
.am-whitespace.am-whitespace-sm {
  height: 9px;
}
.clearfix:after {
  content: '.';
  height: 0;
  display: block;
  clear: both;
}
.hidden {
  display: none;
}
