#login {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    height: 80%;
    width: 80%;
    display: grid;
    .header {
      margin: 0 auto;
      display: flex;
      height: 65px;
      width: 50%;
      .header-title {
        flex: 2;
        width: 100%;
        overflow: hidden;
        margin-left: -5%;
      }
      .header-logo {
        flex: 1;
        height: 100%;
      }
    }
  }
}
